<!DOCTYPE html>

<html >
    <head>
        
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="assets/images/capture.jpg">
    </head>
    <body>
        
         <div class="main-container">
            {{>header}}
        </div>
        
        {{title}}

        {{errorMsg}}

        {{>footer}}
    </body>
</html>